# Tracking and counting software CONFIGURATION FILE
# Author: Derek Gloudemans; Vanderbilt University
# Date: 3/20/2021
# -----------------------------------------------------

det_step==1 # perform detection every _ frames
skip_step==1 # perform localization every _ frames                                        
ber==1.6 # a priori object bounding boxes are expanded by _ to make sure the object is fully contained within the crop
R_red==1  # measurement error covariance matrix for localizer is reduced by a factor of _ to over-weight it's influence on the filter
Q_red==1  # model error covariance is reduced by a factor of _                                
cs==112 # standard crop size
conf_new==0.7 # required confidence for new object by detector
iou_overlap==0.7 # objects that overlap by _ are trimmed
W==0.5 # weights confidence in matching objects (if 1, conf weighted equally to iou. If 0, conf not considered at all)
conf_loc==0.1 # bboxes with conf below _ are considered low confidence
iou_loc==0.2 # bboxes with iou to a priori object below _ are considered low-confidence 
iou_match==0.9 # boxes with less overlap than 1- _ are not valid matches
fsld_max==3 # objects with low-confidence bboxes associated _ frames will be killed (-1 = no limit)
fsld_keep==4 # after _ frames, an object is tracked indefinitely
downsample==2 # reduce frame size by factor of _
transform_path==_config/camera_calibration_points_I24_validation_system.csv

